@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');

/* ~~~~~~~~~~~~~~~~~~  RESET CSS  ~~~~~~~~~~~~~~~~~~~~~ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ~~~~~~~~~~~~~~~~~~  ROOT COLORS  ~~~~~~~~~~~~~~~~~~~~~ */
:root {
    --primary-color: #fff;
    --secondary-color: #F96613;
    --btn-glass: rgba(255, 255, 255, 0.1);
}

/* ~~~~~~~~~~~~~~~~~~  HTML & BODY  ~~~~~~~~~~~~~~~~~~~~~ */
html {
    font-size: 62.5%;
    font-family: "Josefin Sans", sans-serif;
    scroll-behavior: smooth;
}

body {
    width: 100%;
}

/* ~~~~~~~~~~~~~~~~~~~  SCROLLBAR STYLING  ~~~~~~~~~~~~~~~~~~~~~ */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #000;
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to bottom, #ff5f00, #fa6b00, #f57600, #f07f07, #eb8812);
    border-radius: 10px;
}

/* ~~~~~~~~~~~~~~~~~~~  BACKGROUND VIDEO  ~~~~~~~~~~~~~~~~~~~~~  */

.bgVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.bgVideo video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ~~~~~~~~~~~~~~~~~~~  LANDING PAGE  ~~~~~~~~~~~~~~~~~~~~~  */
.ctaBtn {
    box-shadow: 0px 0px 30px var(--secondary-color);
}

/* ~~~~~~~~~~~~~~~~~~~  NEXT PAGE  ~~~~~~~~~~~~~~~~~~~~~ */


/* ~~~~~~~~~~~~~~~~~~~  NEXT PAGE - { NAVBAR }  ~~~~~~~~~~~~~~~~~~~~~ */
main {
    overflow: hidden;
}

.menu-open {
    color: #fff;
    z-index: 998;
}

.menu-close {
    z-index: 1000;
}

.menu-open,
.menu-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 40px;
    font-size: 20px;
    cursor: pointer;
}

.socials {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 40px 100px;
}

.socials span {
    text-transform: uppercase;
    margin: 0 20px;
    letter-spacing: 0px;
}

.nav-container {
    position: fixed;
    left: -100%;
    width: 100%;
    height: 100vh;
    background: #fff;
    z-index: 999;
    transition: all 0.4s;
}

.menu__item {
    position: relative;
    padding: 0 6vw;
    opacity: 0;
    transition: all 1s;
}

.menu__item-link {
    display: inline-block;
    cursor: pointer;
    position: relative;
    font-family: "Playwrite CU", cursive;
}

.menu__item-link::before {
    all: initial;
    counter-increment: menu;
    position: absolute;
    bottom: 60%;
    left: 0;
    pointer-events: none;
}

.menu__item-link:hover {
    transition-duration: 0.1s;
    opacity: 0;
}

.menu__item-img {
    z-index: 2;
    pointer-events: none;
    position: absolute;
    height: 12vh;
    max-height: 600px;
    opacity: 0;
    left: 8%;
    top: 10%;
    transform: scale(0);
}

.menu__item-link:hover+.menu__item-img {
    opacity: 1;
    transform: scale(1);
    transition: all 0.4s;
}

.menu {
    padding: 10vh 0 25vh;
    --offset: 20vw;
    --move-initial: calc(-25% + var(--offset));
    --move-final: calc(-50% + var(--offset));
    font-size: 7vw;
}

.marquee {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    color: rgb(214, 214, 214);
    pointer-events: none;
}

.marquee__inner {
    width: fit-content;
    display: flex;
    position: relative;
    opacity: 0;
    transition: all 0.1s;
    transform: translateX(60px);
}

.menu__item-link:hover~.marquee .marquee__inner {
    opacity: 1;
    transform: translateX(0px);
    transition-duration: 0.4s;
}

.menu__item-link,
.marquee span {
    white-space: nowrap;
    font-size: 6vw;
    padding: 0 1vw;
    line-height: 1.15;
}

.marquee span {
    font-style: italic;
}

/* ~~~~~~~~~~~~~~~~~~~  NEXT PAGE - { DEPARTMENT CARDS }  ~~~~~~~~~~~~~~~~~~~~~ */
/* 
    -- teams.css
*/

/* ~~~~~~~~~~~~~~~~~~~  NEXT PAGE - { DEPARTMENT CARDS }  ~~~~~~~~~~~~~~~~~~~~~ */
/* 
 -- gallery.css
*/